.spinner {
  margin: 1rem;
  display: flex;
  justify-content: center;
  margin-top: 20%;
}

.headSpinner {
  position: absolute;
  margin-top: 10px;
  top: 1%;
  right: 5%;
  justify-content: center;
}
